.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto; 
}

.content {
  text-align: left;
  padding: 30px;
  max-width: 500px; 
}

h1 {
  color: #352E58;
  font-weight: bold;
  font-size: 24px; 
  margin-bottom: 10px; 
  font-family: 'Ubuntu', sans-serif;
}

p {
  font-size: 14px; 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #352E58;
}

.image {
  margin-left: 100px; 
  border-radius: 20px; 
  overflow: hidden; 
  width: 450px; 
  height: 300px; 
}

.image img {
  width: 100%; 
  height: auto;
}

.subtitulo-veterinarios {
  font-family: 'Ubuntu';
  font-weight: bold;
  color: #0F41AF;
  text-align: center;
  margin: 0;
}

.titulo-veterinarios {
  font-family: 'Ubuntu';
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
}

.veterinarios-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.veterinario {
  background-color: #EFEFEF;
  border-radius: 10px;
  width: 250px; 
}

.veterinario img {
  width: 100%;
  border-radius: 10px;
  max-height: 200px; 
  object-fit: cover; 
}

.veterinario .nombreVeterinario {
  padding-left: 10px;
  text-align: left;
  font-size: 20px;
  font-family: 'Ubuntu';
  font-weight: bold;
  margin-top: 10px;
  font-weight: bold;
}

.veterinario .cargo {
  font-size: 10px; 
  font-weight: bold;
  color: #256DC1;
  padding-left: 5px;
}

.veterinario hr {
  width: 50%;
  text-align: left;
  border-top: 4px solid #0F41AF;
}

.veterinario .descripcion {
  font-size: 14px; 
  text-align: left;
  padding-left: 5px;
}

.servicios {
  margin-top: 30px;
  background-color: #FAFAFA;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}


.servicios .imagen-servicios {
  max-width: 100%;
  height: auto; 
}

.container-card {
  margin-top: 30px;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.container-card .titulo {
  margin-top: 20px;
  font-size: 16px;
  font-family: 'Ubuntu';
  font-weight: bold;
  text-align: center;
  color: #0F41AF;
  margin-bottom: 0;
}

.container-card .subtitulo {
  font-size: 30px;
  font-family: 'Ubuntu';
  font-weight: bold;
  text-align: center;
  color: #352E58;
  margin-bottom: 0;
}

.card {
  margin-top: 30px;
  position: relative;
  width: 550px; 
  border: 1px solid #ddd; 
  border-radius: 10px; 
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.card-bg img {
  width: 100%;
  height: auto;
  display: block;
}

.card-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.horarios {
  color: #D80A23;
  font-weight: bold;
  font-family: 'Ubuntu';
  font-size: 16px; 
  margin-bottom: 0;
}

.btn-card {
  font-weight: bold;
  font-family: 'Ubuntu';
  margin-top: 30px;
  background-color: #0F41AF; 
  color: #fff; 
  border: none;
  padding: 8px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.sedes-container .subtitulo {
  font-size: 30px;
  font-family: 'Ubuntu';
  font-weight: bold;
  text-align: center;
  color: #352E58;
  margin-bottom: 0;
}

.sedes-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.sedes-container .images-container {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
  width: 100%; 
  overflow-x: auto; 
}

.imagen-con-texto {
  text-align: center;
  margin-right: 10px; 
  flex-shrink: 0; 
  position: relative;
}

.imagen-con-texto img {
  width: 100%; 
  height: auto; 
}

.imagen-con-texto h3,
.imagen-con-texto p {
  position: absolute; 
  width: 100%; 
  text-align: center; 
}

.imagen-con-texto h3 {
  text-align: center;
  top: 100px; 
  color: #FFFFFF;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px; 
}

.imagen-con-texto p {
  font-weight: bold;
  bottom: 150px; 
  font-size: 15px;
  color: #FFFFFF; 
}

.contenedor-principal {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  padding: 40px;
}

.titulo-contact {
  width: 30%;
  float: left;
  margin-left: 100px;
}

.titulo-contact .contact {
  font-weight: bold;
  font-size: 35px;
}

.titulo-contact .contact .text-contact {
  margin-top: 10px;
}

.formulario {
  background-color: #EFEFEF; 
  padding: 20px;
  border-radius: 20px;
  width: 730px;
  height: 476px;
  margin-right: 100px;
}

.input-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.columna {
  flex: 1;
  margin-right: 10px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.btn-enviar {
  background-color: #0F41AF;
  color: #fff;
  border: none;
  padding: 10px 35px;
  cursor: pointer;
  border-radius: 10px;
  display: block; 
  margin: 0 auto; 
}