.grid-col-1,.grid-col-2,.grid-col-3,.grid-col-4,
.grid-store-product{
    width: max-content;
    margin: 30px auto;
    display: grid;
    gap: 30px;
}

.grid-col-1{ /*Columna 1 / Filas 3*/
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.grid-col-2{ /*Columna 1 / Filas 4*/
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.grid-col-3{ /*Columna 2 / Filas 3*/
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.grid-col-4{ /*Columna 4 / Filas 2*/
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.grid-col-5{ /*Columna 4 / Filas 2*/
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
}


.grid-store-product{ /*Columna 5 / Filas 3*/
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: auto;
    margin: auto;
}
