
/*ELEMENTOR HEADING TITLES*/
.title-sxl{
    font-size: 58px;
    font-weight: 700;
}

.title-xl{
    font-size: 46px;
    font-weight: 700;
}

.title-lg{
    font-size: 40px;
    font-weight: 700;
}

.title-md{
    font-size: 36px;
    font-weight: 700;
}

.title{
    font-size: 30px;
    font-weight: 700;
}


.title-m{
    font-size: 30px;
    font-weight: 500;
}


.title-sm{
    font-size: 28px;
    font-weight: 700;
}


/*ELEMENTOR P BOLD*/
.p-b-xl{
    font-size: 26px;
    font-weight: 700;
}

.p-b-in{
    font-size: 24px;
    font-weight: 700;
}

.p-b-lg{
    font-size: 22px;
    font-weight: 700;
}

.p-b-md{
    font-size: 20px;
    font-weight: 700;
}

.p-b{
    font-size: 18px;
    font-weight: 700;
}

.p-b-sm{
    font-size: 16px;
    font-weight: 700;
}

/*ELEMENTOR P MEDIUM*/

.p-m-sxl{
    font-size: 28px;
    font-weight: 500;
}

.p-m-xl{
    font-size: 26px;
    font-weight: 500;
}

.p-m-in{
    font-size: 24px;
    font-weight: 500;
}


.p-m-lg{
    font-size: 22px;
    font-weight: 500;
}

.p-m-md{
    font-size: 20px;
    font-weight: 500;
}

.p-m{
    font-size: 18px;
    font-weight: 500;
}

.p-m-sm{
    font-size: 16px;
    font-weight: 500;
}


/*ELEMENTOR P REGULAR*/
.p-sxl{
    font-size: 28px;
    font-weight: 400;
}

.p-xl{
    font-size: 26px;
    font-weight: 400;
}

.p-in{
    font-size: 24px;
    font-weight: 400;
}

.p-lg{
    font-size: 22px;
    font-weight: 400;
}

.p-md{
    font-size: 20px;
    font-weight: 400;
}

.p{
    font-size: 18px;
    font-weight: 400;
}

.p-sm{
    font-size: 16px;
    font-weight: 400;
}

/*ELEMENTOR P LIGHTER*/
.p-l-xl{
    font-size: 26px;
    font-weight: 300;
}

.p-l-in{
    font-size: 26px;
    font-weight: 300;
}

.p-l-lg{
    font-size: 22px;
    font-weight: 300;
}

.p-l-md{
    font-size: 20px;
    font-weight: 300;
}

.p-l{
    font-size: 18px;
    font-weight: 300;
}

.p-l-sm{
    font-size: 16px;
    font-weight: 300;
}




/*STYLES TEXT*/
.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.text-uppercase{
    text-transform: uppercase; /*mayusculas*/
}

.text-lowercase{
    text-transform: lowercase; /*minusculas*/
}

.text-capitalize{
    text-transform: capitalize; /*letra inicial mayusculas*/
}